---
import ThemeToggle from '../ThemeToggle.astro';
import Search from '../Search.astro';
import { menuLinks } from '@/site-config';

const url = new URL(Astro.request.url);
---

<script>
    import { toggleClass } from '@/utils';

    let headerEl: HTMLElement;
    let menuButtonEl: HTMLButtonElement;
    let menuOpen = false;

    function toggleMobileMenu() {
        toggleClass(headerEl, 'menu-open');
        menuOpen = !menuOpen;
        menuButtonEl.setAttribute('aria-expanded', menuOpen.toString());
    }

    document.addEventListener('DOMContentLoaded', () => {
        headerEl = document.getElementById('main-header')!;
        menuButtonEl = document.getElementById('toggle-navigation-menu') as HTMLButtonElement;
        menuButtonEl.addEventListener('click', toggleMobileMenu);
    });

    document.addEventListener('astro:after-swap', () => {
        if (menuOpen) toggleMobileMenu();
    });
</script>

<header
    id="main-header"
    class="group relative mb-14 sm:mb-28 flex items-center sm:ps-[4.5rem]"
    transition:persist
>
    <div class="flex sm:flex-col">
        <a
            href="/"
            class="inline-flex items-center hover:grayscale sm:relative sm:inline-block"
            aria-current={url.pathname === '/' ? 'page' : false}
        >
            <svg
                class="mt-0.5 me-2 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-auto sm:w-20 sm:mt-0"
                aria-hidden="true"
                focusable="false"
                fill="none"
                viewBox="0 0 34 34"
                id="icon"
                xmlns="http://www.w3.org/2000/svg"
            >
                <title>Logo</title>
                <sodipodi:namedview
                    id="namedview1233"
                    pagecolor="#ffffff"
                    bordercolor="#000000"
                    borderopacity="0.25"
                    inkscape:showpageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:deskcolor="#d1d1d1"
                    inkscape:document-units="mm"
                    showgrid="false"
                    inkscape:zoom="0.71535494"
                    inkscape:cx="397.00572"
                    inkscape:cy="562.65775"
                    inkscape:window-width="1920"
                    inkscape:window-height="1080"
                    inkscape:window-x="0"
                    inkscape:window-y="-30"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="layer1"
                />
                <defs
                    id="defs1228"
                >
                    <clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath588"
                    >
                        <path
                            d="M 0,500 H 500 V 0 H 0 Z"
                            id="path586"
                        />
                    </clipPath>
                    <clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath600"
                    >
                        <path
                            d="m 323.444,408.512 h 6.348 v -3.767 h -6.348 z"
                            id="path598"
                        />
                    </clipPath>
                    <clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath616"
                    >
                        <path
                            d="m 329.792,412.279 h 5.174 v -3.767 h -5.174 z"
                            id="path614"
                        />
                    </clipPath>
                    <clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath636"
                    >
                        <path
                            d="m 403.912,412.279 h 6.348 v -3.767 h -6.348 z"
                            id="path634"
                        />
                    </clipPath>
                    <clipPath
                        clipPathUnits="userSpaceOnUse"
                        id="clipPath652"
                    >
                        <path
                            d="m 398.738,408.512 h 5.174 v -3.767 h -5.174 z"
                            id="path650"
                        />
                    </clipPath>
                </defs>
                <g
                    inkscape:label="Layer 1"
                    inkscape:groupmode="layer"
                    id="layer1"
                    transform="translate(-71.530412,-80.583387)"
                >
                    <g
                        id="g582"
                        transform="matrix(0.35277777,0,0,-0.35277777,-42.129506,237.31938)"
                    >
                        <g
                            id="g584"
                            clip-path="url(#clipPath588)"
                        >
                            <g
                                id="g590"
                                transform="translate(345.2586,435.1967)"
                            >
                                <path
                                    d="m 0,0 -16.722,-16.722 c -0.66,-0.66 -1.024,-1.537 -1.024,-2.47 0,-0.934 0.364,-1.811 1.024,-2.471 l 1.255,-1.255 L 0,-7.452 Z m 2.664,-62.464 c -0.682,0 -1.363,0.26 -1.884,0.78 l -21.268,21.268 c -1.667,1.666 -2.585,3.882 -2.585,6.238 0,2.357 0.918,4.572 2.585,6.238 l 1.255,1.255 -1.255,1.255 c -1.667,1.666 -2.585,3.881 -2.585,6.238 0,2.356 0.918,4.571 2.585,6.237 L 0.78,8.313 C 1.541,9.075 2.687,9.304 3.684,8.891 4.679,8.479 5.327,7.508 5.327,6.431 V -8.555 c 0,-0.707 -0.28,-1.384 -0.78,-1.883 l -16.247,-16.247 8.946,-8.946 c 1.226,-1.226 2.924,-1.828 4.645,-1.651 1.725,0.178 3.259,1.111 4.212,2.56 l 21.124,32.18 c 0.807,1.23 2.458,1.573 3.688,0.765 1.23,-0.807 1.572,-2.458 0.765,-3.688 l -21.124,-32.18 c -1.835,-2.795 -4.794,-4.595 -8.121,-4.936 -3.324,-0.34 -6.59,0.819 -8.956,3.183 l -8.946,8.946 -1.255,-1.255 c -0.66,-0.66 -1.024,-1.537 -1.024,-2.471 0,-0.933 0.364,-1.81 1.024,-2.47 L 4.547,-57.917 c 1.041,-1.04 1.041,-2.727 0,-3.767 -0.52,-0.52 -1.201,-0.78 -1.883,-0.78"
                                    style="fill:#ff8800;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path592"/>
                            </g>
                            <g
                                id="g594"
                            >
                                <g
                                    id="g596"/>
                                <g
                                    id="g608"
                                >
                                    <g
                                        clip-path="url(#clipPath600)"
                                        opacity="0.199997"
                                        id="g606"
                                    >
                                        <g
                                            transform="translate(329.7918,404.7445)"
                                            id="g604"
                                        >
                                            <path
                                                d="M 0,0 -3.767,3.767 -5.021,2.512 C -5.541,1.993 -5.979,1.415 -6.348,0.801 Z"
                                                style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                                id="path602"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                            <g
                                id="g610"
                            >
                                <g
                                    id="g612"/>
                                <g
                                    id="g624"
                                >
                                    <g
                                        clip-path="url(#clipPath616)"
                                        opacity="0.199997"
                                        id="g622"
                                    >
                                        <g
                                            transform="translate(333.5584,408.5116)"
                                            id="g620"
                                        >
                                            <path
                                                d="m 0,0 1.407,1.407 -5.174,2.36 z"
                                                style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                                id="path618"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                            <g
                                id="g626"
                                transform="translate(388.4451,381.827)"
                            >
                                <path
                                    d="m 0,0 16.723,16.722 c 0.659,0.66 1.023,1.537 1.023,2.47 0,0.934 -0.364,1.811 -1.023,2.471 L 15.467,22.918 0,7.452 Z m -2.663,62.464 c 0.681,0 1.362,-0.26 1.883,-0.78 L 20.488,40.416 c 1.667,-1.666 2.585,-3.882 2.585,-6.238 0,-2.357 -0.918,-4.572 -2.585,-6.238 l -1.254,-1.255 1.254,-1.255 c 1.667,-1.666 2.585,-3.881 2.585,-6.238 0,-2.356 -0.918,-4.571 -2.585,-6.237 L -0.78,-8.314 c -0.761,-0.762 -1.906,-0.99 -2.903,-0.577 -0.996,0.412 -1.644,1.383 -1.644,2.46 V 8.555 c 0,0.707 0.281,1.384 0.78,1.883 L 11.7,26.685 2.755,35.631 c -1.227,1.226 -2.925,1.828 -4.645,1.651 -1.725,-0.178 -3.26,-1.111 -4.213,-2.56 L -27.227,2.542 c -0.806,-1.23 -2.458,-1.573 -3.688,-0.765 -1.23,0.807 -1.571,2.458 -0.765,3.688 l 21.124,32.18 c 1.835,2.795 4.794,4.595 8.121,4.936 3.324,0.34 6.591,-0.819 8.956,-3.183 l 8.946,-8.946 1.256,1.255 c 0.659,0.66 1.023,1.538 1.023,2.471 0,0.933 -0.364,1.81 -1.023,2.47 l -21.27,21.269 c -1.04,1.04 -1.04,2.727 0,3.767 0.521,0.52 1.202,0.78 1.884,0.78"
                                    style="fill:#ff8800;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path628"/>
                            </g>
                            <g
                                id="g630"
                            >
                                <g
                                    id="g632"/>
                                <g
                                    id="g644"
                                >
                                    <g
                                        clip-path="url(#clipPath636)"
                                        opacity="0.199997"
                                        id="g642"
                                    >
                                        <g
                                            transform="translate(403.9119,412.2792)"
                                            id="g640"
                                        >
                                            <path
                                                d="m 0,0 3.768,-3.767 1.253,1.255 c 0.521,0.519 0.958,1.097 1.327,1.711 z"
                                                style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                                id="path638"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                            <g
                                id="g646"
                            >
                                <g
                                    id="g648"/>
                                <g
                                    id="g660"
                                >
                                    <g
                                        clip-path="url(#clipPath652)"
                                        opacity="0.199997"
                                        id="g658"
                                    >
                                        <g
                                            transform="translate(400.1453,408.5121)"
                                            id="g656"
                                        >
                                            <path
                                                d="m 0,0 -1.407,-1.407 5.174,-2.36 z"
                                                style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                                id="path654"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <span class="text-xl font-bold sm:text-2xl sm:ml-8">JS</span>
        </a>
        <nav
            id="navigation-menu"
            class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
            aria-label="Main menu"
        >
            {
                menuLinks.map((link) => (
                    <a
                        href={link.path}
                        class="px-4 py-4 sm:py-0 sm:hover:font-semibold"
                        aria-current={url.pathname === link.path ? 'page' : false}
                        rel="prefetch"
                    >
                        {link.title}
                    </a>
                ))
            }
        </nav>
    </div>
    <Search/>
    <ThemeToggle/>
    <button
        id="toggle-navigation-menu"
        class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
        type="button"
        aria-label="Open main menu"
        aria-expanded="false"
        aria-haspopup="menu"
    >
        <svg
            id="line-svg"
            class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
            aria-hidden="true"
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
        >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
        </svg>
        <svg
            id="cross-svg"
            class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
            class="text-accent"
            aria-hidden="true"
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
        >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
</header>
