---
import { Image } from 'astro:assets';

import PageLayout from '@/layouts/Base';
import dev from '@/assets/dev.svg';

const meta = {
    title: 'About',
    description: 'Software engineer, developer, tech enthusiast and consultant located in Montreal, Canada.',
};
---

<PageLayout meta={meta}>
    <div class="space-y-6">
        <h1 class="title capitalize">Jude Séïde</h1>
        <p class="lowercase sm:tracking-widest">
            software developer & tech enthusiast based in Montreal, Canada
        </p>
        <div class="grid grid-flow-row auto-rows-max sm:grid-cols-[2fr_3fr] gap-y-16 sm:gap-x-16">
            <Image
                src={dev}
                alt="developer illustration"
                loading="eager"
                fetchpriority="high"
            />
            <div class="xl:w-fit mt-6 leading-6 text-justify">
                <p class="mb-4">
                    Results-oriented developer with over a decade of hands-on industry experience, ranging from
                    nimble startups to larger organisations.
                </p>
                <p class="mb-4">
                    I have a proven track record of delivering impactful solutions and spearheading transformative
                    initiatives that not only bolster competitive advantages but also fuel business growth.
                </p>
                <p class="mb-4">
                    Currently a senior member of the
                    <a
                        class="cactus-link inline-block"
                        href="https://www.ssense.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Shopify website"
                    >
                        SSENSE
                    </a>
                    engineering team.
                </p>
                <p class="mb-4">
                    I'm fascinated by technology's profound impact on our world. From influencing our daily lives to
                    shaping various industries, it's evident that software plays a central role in our existence.
                </p>
                <p class="mb-4">
                    Let's explore the captivating realm of software engineering together!
                </p>
            </div>
        </div>
        <p>
            Reach out via
            <a
                class="cactus-link inline-block"
                href="https://ca.linkedin.com/in/judeseide"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="linkedin"
            >
                linkedin
            </a>
            or
            <a
                class="cactus-link inline-block"
                href="mailto:jude.seide+info@gmail.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="email"
            >
                email
            </a>
            if you want to chat!
        </p>
    </div>
</PageLayout>
